*{
    box-sizing: border-box;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 1.5rem auto 0;
    max-width: 1280px;
}
.navs{
    text-decoration: none;
    list-style-type: none;
    margin: 0 1.5rem;
}
a{
    text-decoration: none;
    color: black;
}
.logo img{
    height: 3rem;
    width: auto;
    align-content: left;
}
.menu>ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#button{
    color: white;
    background-color: #456CFA;
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: solid 2px #456CFA;
}
#button:hover{
    color: #456CFA;
    border: solid 2px #456CFA;
    background-color: white;
}